/*	

	Less+ by Jimmy Rosén, http://www.angrycreative.se/projekt/less-framework
	Based on Less Framework 4 by Joni Korpi, http://lessframework.com
	
*/

/*		Desktop layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

	
body{
    width: 920px
}
	
.half{
	width:436px;
	float:left;
	margin-right:24px
}

.third{
	width:282px;
	float:left;
	margin-right:24px
}

.fourth{
	width:206px;
	float:left;
	margin-right:24px
}

.h2_cont{
    width:896px
}
	
section{
	padding-right: 24px;
    width: 920px;
	overflow:hidden
}


/* Header
-------------------------------------------------------------------------------*/

header{
	margin-right: 24px;
    width: 896px
}

header h1{
	width:620px;
	float:left
}

header #hello{
	width:252px;
	float:right
}

header #say_hello p{
	position:absolute;
	top:194px;
	right:87px;
}


/* Bio
-------------------------------------------------------------------------------*/

#bio p.hi{
	margin-left:306px	
}


/* Work
-------------------------------------------------------------------------------*/

#work article img{
	width:282px;
}


/* Footer
-------------------------------------------------------------------------------*/

footer{
	padding-right: 24px;
    width: 920px;
}