body {
	width: 436px;
	padding: 0 22px 48px !important;
}

#logo {
	width: 436px;
	margin: 0 0 75px;
	padding: 0;
}

#logo span {
	line-height: .8em;
}

section {
	width: 190px;
}
	
	section#about{
		padding-bottom: 50px;
	}
	
	section article {
		width: 190px;
	}
	
	section#about,
	section#work {
		text-align: left;
		margin: 50px 0 50px 25px !important;
	}