body {
	width: 712px;
	min-width: 712px;
	padding: 48px 28px 200px;
}

h1,
p,
li,
header a {
	color: #333;
}

a {
	color: #999;
}

#logo {
	position: relative;
	margin: 150px 0 25px;
	padding: 40px 0;
	text-align: left;
	width: 650px;
	left: 0;
}

#logo h1 {
	display: none !important;
}

#logo span {
	position: relative;
	left: -10px;
}

#logo:hover span {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
}

section {
	width: 220px;
	float: left;
	margin: 100px 0 0 15px;
}
	
	section#about {
    	margin-top: 100px;
	}

	section header {
		margin: 0 0 30px;
		position: relative;
		text-align: left;
	}
	
		section header a{
			cursor: default;
		}

article {
	min-height: inherit;
	margin-bottom: 20px;
}

#about header,
#work .active,
#connect .active {
	position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
}

footer {  
	left: 0;
}