/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

ul {
	list-style-type: none;
}

p,
dl,
hr,
h1,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
	margin-bottom: 22px;
}

::selection,
::-moz-selection,
img::selection,
img::-moz-selection {
	background: transparent;
}



/*	Global
	------	*/

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font: 14px/1.6 "gesta-1","gesta-2",Verdana,sans-serif;
	color: #333;
	background-color: #fff;
	-webkit-text-size-adjust: 100%; 
	-webkit-tap-highlight-color: rgb(255,255,0);
}
  
a,
a img {
	color: #999;
	outline: none;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	transition: all 0.5s ease-in-out	
}
 
a:hover {
	color: #333;
}
   
a img, 
a:hover img {
	border: 0;
	outline: none;
}
  
h1 {
	font-size: 14px;
	font-weight: bold;
}
  
  
    
/*	Layout
	------	*/

#content {
	padding-bottom: 400px;
}
	
#logo {
	position: fixed;
	z-index: 999;
	margin: 80px 0 75px;
	padding: 40px 26px;
	text-align: right;
	width: 75px;
	top: 0;
	left: 40px;
	color: #333;
}

#logo span {
	font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2",Georgia,serif;
	font-size: 170px;
	line-height: 1em;
	position: fixed;
	top: 30px;
	left: 60px;
	padding: 0 20px;
	z-index: 1000;
	background-color: #fff;
	-webkit-transition: all 0.5s ease-in-out; 
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	transition: all 0.5s ease-in-out;
}

#logo:hover span {
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
}

section {
    padding: 0 0 150px 0;
    position: relative;
    display: block;
    margin-left: 200px
}
  
	section header {
		float: left;
		margin: 0 0 0 -175px;
		text-align: right;
		width: 116px;
	}  

		section header a {
			color: #999;
			outline: none;
		}    
		
article {
    width: 200px;
    min-height: 200px;
    float: left;
    margin-right: 25px;  
}
  
	article.top {
		padding-top: 22px;  
	}
	


/*	Active
	------	*/
	
#about header {
	position: fixed;
    top: 250px;
    left: 25px;
    margin-left: 0;
}

#work .active {
	position: fixed;
    top: 280px;
    left: 25px;
    margin-left: 0;
}

#connect .active {
	position: fixed;
    top: 310px;
    left: 25px;
    margin-left: 0;
}	



/*	Details
	-------	*/
	
section#about {
	margin-top: 250px
}	

.phone {
	margin-top: 22px
}


  
/*	Footer
	------	*/
  
footer {  
	pointer-events: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50%;
	z-index: 9999;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(86%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 86%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



/*	Fonts render
	------------	*/

.fonts {
	font-family: "gesta-1","gesta-2";
	position: fixed;
	left: -9999px;
}

.fonts span {
	font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2";
}



/*	Clear
	-----	*/

section:after { 
	content: " "; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
	margin-bottom: 0; 
}

* html section { 
	height: 1%; 
}



/*	W3Counter
	---------	*/

.w3counter {
	border: 0; 
	position: fixed; 
	top: -9999em
}



/*	Typekit
	-------	*/

#typekit-badge-hku8tyb {
	display: none !important
}



/* Happy end */