/* @group GLOBAL */
	
	html,
	body{
		width: 100%;
		height: 100%;
	}
	
	body{
		font: 400 14px/1.8 "gesta",Verdana,sans-serif;
		color: #333;
		background-color: #fff;
        -webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%; 
		-webkit-tap-highlight-color: rgb(255,255,0);
	}

	::selection{
		background-color: transparent;
	}
	
	::-moz-selection{ 
		background-color: transparent; 
	}

	ul{
		padding: 0;
	}

	ul li{
		list-style-type: none;
	}
	  
	a,
	a img{
		color: #333;
		outline: none;		
		-webkit-tap-highlight-color: transparent;
		-webkit-transition: all .3s ease-in-out; 
		   -moz-transition: all .3s ease-in-out; 
			 -o-transition: all .3s ease-in-out; 
				transition: all .3s ease-in-out;	
	}
	 
	a:hover,
	a:focus{
		color: #333;
		text-decoration: none;
		outline: none;
	}
	   
	a img, 
	a:hover img{
		border: 0;
		outline: none;
	}
	  
	h1{
		font-size: 3em;
		font-weight: 300;
	}

	h2{
		font: normal 2em/1.6 'adobe-garamond-pro',Georgia,serif;
		margin-bottom: 20px;	
	}

/* @end */


/* @group TOOLS */

	.tr{
		-webkit-transition: all .3s;
		   -moz-transition: all .3s;
			 -o-transition: all .3s;
				transition: all .3s;
	}

	.display{
		display: none;
	}
	
	.inherit{
		position: inherit;
	}

	.opacity{
		opacity: 0;
	}

	.typekit-badge{
		display: none !important;
	}

/* @end */


/* @group OBJECTS */

	section{
	    position: relative;
	    display: block;
		width: 100%;
		height: 100%;
	}

	.table{
	    display: table;
	}

	.cell{
		position: relative;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		z-index: 1;
	}

	@media (max-width: 767px) { /* Mainly resets to disable the scroll plugin */

		body{
			overflow: visible !important; 
			overflow-y: scroll !important;
		}

		section{
			height: auto !important;
		}

		.main{
			margin-bottom: 30px;
			height: auto !important;
			-webkit-transform: none !important;
			   -moz-transform: none !important;
					transform: none !important;
		}
	
	}
		
/* @end */


/* @group INFO */

	.info p{
		margin-bottom: 25px;
	}

	.info p:last-child{
		margin-bottom: 0;
	}

	.info a{
		color: #888;
	}

	.info a:hover{
		color: #333;
	}

	.info .phone{
		line-height: 1.3;
	}

	.line-through{
		text-decoration: line-through;
	}

	@media (max-width: 767px) {

		.info ul{
			margin-bottom: 0;
		}
	
	}

/* @end */


/* @group TITLE SECTIONS */
	
	.title{
		background-color: #000;
	}

	.title iframe{
		position: absolute;
		top: 0;
		left: -2%;
		width: 104%;
		height: 100%;
		margin: 0;
		z-index: 0;
		border: none;
		overflow: hidden;
	}

	.title h1{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -23px 0 0 -200px;
		width: 400px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		vertical-align: middle;
		z-index: 1;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}

	.title-work{
		padding-left: 12px;
	}
		
/* @end */


/* @group LOGO */
	
	#logo-canvas,
	#shadow-canvas{
		display: none;
	}
		
	.logo{
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		z-index: 1;
		text-align: center;
	}
	
	.logo h1{
		margin-top: -20px; 
		font-size: 14px;
		font-weight: 400;
	}

	.logo p{
		font-size: 2em;
		line-height: 1.6;
		text-transform: uppercase;
	}

	.logo canvas{
		margin: 0 auto;
	}

	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px) 
	and (orientation : portrait) { 

		#logo-canvas,
		#shadow-canvas{
			width: 300px;
		}

	}
	
/* @end */


/* @group MENU & MODAL */

	.menu,
	.close{
		position: fixed;
		top: 30px;
		right: 30px;
		width: 40px;
		height: 30px;
		text-indent: -999em;
		z-index: 3;
	}

	.menu span{
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		background-color: #888;
	}

	.close span{
		opacity: 0;
	}

	.menu::before,
	.menu::after,
	.close::before,
	.close::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #888;
		-webkit-transition: all .3s ease-in-out; 
		   -moz-transition: all .3s ease-in-out; 
			 -o-transition: all .3s ease-in-out; 
				transition: all .3s ease-in-out;
	}

	.menu::after,
	.close::after{
		top: auto;
		bottom: 0;
	}

	.menu:hover{
		height: 40px;
		top: 25px;
	}

	.close::before{
		top: 50%;
		margin-top: -1px;
		background-color: #fff;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
				transform: rotate(45deg);
	}

	.close::after{
		bottom: 50%;
		margin-bottom: -1px;
		background-color: #fff;
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
			 -o-transform: rotate(-45deg);
				transform: rotate(-45deg);
	}

	.modal{
		width: 100%;
		height: 100%;
		background: rgba(85,200,115,.9) url("../assets/bg.svg") no-repeat center;
		background-size: cover;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2;
		text-align: center;
	}

	.modal nav{
		text-align: center;
		position: relative;
		top: 50%;
		height: 60%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
			 -o-transform: translateY(-50%);
				transform: translateY(-50%);
	}

	.modal ul{
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		position: relative;
	}

	.modal ul li{
		display: block;
		height: 25%;
		height: calc(100% / 4);
		min-height: 3em;
	}

	.modal ul a{
		font-size: 3em;
		font-weight: 300;
		display: block;
		color: #fff;
		text-transform: uppercase;
	}

	.modal ul:hover a{
		opacity: .5;
	}

	.modal ul a:hover{
		opacity: 1;
	}

/* @end */


/* @group WORK */

	.projects{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.project{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent no-repeat center;
		opacity: 0;
		display: block;
		text-indent: -100%;
		-webkit-transition: all .2s;
		   -moz-transition: all .2s;
			 -o-transition: all .2s;
				transition: all .2s;
	}

	.project.contain{
		background-size: contain;
	}

	.project.cover{
		background-size: cover;
	}

	.project.visible{
		opacity: .2;
	}

	.project.samsung-s5{
		background-image: url('../assets/projects/samsung-s5.png');
		background-position: center top;
	}

	.project.samsung-tab-s{
		background-image: url('../assets/projects/samsung-tab-s.jpg');
	}

	.project.statoil{
		background-image: url('../assets/projects/statoil.jpg');
	}

	.project.linkedin{
		background-image: url('../assets/projects/linkedin.jpg');
	}

	.project.f2f{
		background-image: url('../assets/projects/f2f.jpg');
	}

	.project.mariscal{
		background-image: url('../assets/projects/mariscal.jpg');
	}

	.project.hilton{
		background-image: url('../assets/projects/hilton.jpg');
	}

	.project.lalalatoys{
		background-image: url('../assets/projects/lalalatoys.jpg');
	}

	.project.soyhugo{
		background-image: url('../assets/projects/soyhugo.png');
	}

	.project.intelectuales{
		background-image: url('../assets/projects/intelectuales.jpg');
	}

	.project.gridchin{
		background-image: url('../assets/projects/gridchin.jpg');
	}

	.project.spongebobfanclub{
		background-image: url('../assets/projects/spongebobfanclub.png');
	}

	.project.statoil{
		background-image: url('../assets/projects/statoil.jpg');
	}

/* @end */


/* @group ARROW */

	.next{
		position: absolute;
		bottom: 30px;
		right: 30px;
		width: 40px;
		height: 40px;
		display: block;
		text-indent: -999em;
		z-index: 2;
		background: transparent url('../assets/arrow.svg') no-repeat center bottom;
	}

	.next:hover{
		bottom: 20px;
		height: 50px;
	}
	
/* @end */



/* Happy end */